 <html>
 <body>
 <h1>Personal Details</h1>
 <p>Name:Pravda Jith Ray <p>
 	<p> Age: 25 <p>
 		<p> Address: Gov. Model Engineering College, Cochin <p>
 			<p> Photo:<%= image_tag("f.jpg") %> <p>
<p>
<%= link_to "qualification" , personal_qaulification_path %>
</p>
</body>
</html>
