<html>
<body>

<h1>Qualification</h1>
 <p>Graduation : B.Tech in Computer Science<p>
 	<p> Postgraduation : Mtech in Image Processing <p>
 		
<%= link_to "add", personal_add_path  %>
</p>
</body>
</html>